@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$contact-powered-by-border-color: $border-color !default;
$contact-powered-by-margin: ($spacer * 0.25) 0 !default;
$contact-powered-by-padding: ($spacer * 0.25) 0 0 !default;

.powered-by {
  padding: $contact-powered-by-padding;
  margin: $contact-powered-by-margin;
  clear: both;
  border-top: 1px solid $contact-powered-by-border-color;
}
